body, html, #root {
  height: 100vh;
  overflow: hidden;
}

body {
  color: #282828;
}

.container {
  height: 100vh;
  padding: 20px 20px 0 20px;
  position: relative;
}

.folders {
  display: flex;
  flex-wrap: wrap;
}

.folders > div {
  padding: 10px;
  border: 1px solid #282828;
  margin: 5px 0 5px 5px;
}

.folders > div:hover {
  border-color: #d65d0e;
  color: #d65d0e;
  cursor: pointer;
}

.folders .active {
  border-color: #076678;
  background-color: #076678;
  color: white;
}

.folders .active:hover {
  border-color: #076678;
  color: white;
}

.bookmarks {
  margin-top: 15px;
  margin-left: 5px;
}

.bookmarks ul li {
  padding-bottom: 7px;
}

.bookmarks ul li > div, .bookmarks ul li.folder > div {
  display: flex;
  align-items: center;
}

.bookmarks ul li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.bookmarks ul li.folder a {
  color: #d65d0e;
  cursor: pointer;
}

.bookmarks ul li.folder a:hover {
  background-color: #076678;
  color: white;
}

.bookmarks ul li a {
  padding: 3px;
  text-decoration: none;
  color: #282828;
  user-select: none;
}

.bookmarks ul li a:hover {
  cursor: pointer;
  background-color: #076678;
  color: white;
}

.font-settings {
  position: absolute;
  bottom: 36px;
}

.font-settings button {
  background-color: #076678;
  color: white;
  outline: none;
  border: none;
  padding: 5px;
  margin-left: 2px;
  cursor: pointer;
}

.font-settings select {
  padding: 2px;
  margin-right: 2px;
  border-radius: 0;
  outline: none;
}

.home-switch {
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: 80px;
  opacity: 0.3;
  cursor: pointer;
}

.home-switch:hover {
  opacity: 1;
}

/* home theme */

.container.home {
  background-color: #e4ddc9;
  color: #714e24;
  background-image: url(/assets/images/holo.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.home .folders > div {
  background-color: #f0ece1;
  border-color: #cec19d;
}

.home .folders > div:hover {
  background-color: #eee2c8;
  color: #714e24;
}

.home .folders .active {
  background-color: #675a4d;
  color: #e9dcc0;
} 

.home .folders .active:hover {
  border-color: #cec19d;
  background-color: #675a4d;
  color: #e9dcc0;
}

.home .bookmarks {
  color: #65584b;
}

.home .bookmarks ul li a {
  text-decoration: none;
  color: #65584b;
  user-select: none;
}

.home .bookmarks ul li a:hover {
  background-color: #675a4d;
  color: #e9dcc0;
}

.home .font-settings button {
  color: #65584b;
  background-color: #f0ece1;
}

.home .font-settings button:hover {
  background-color: #eee2c8;
  color: #714e24;
}

.home .font-settings select {
  background-color: #f0ece1;
}

.home .home-switch {
  opacity: 1;
}
