body, html, #root {
  height: 100vh;
  overflow: hidden;
}

body {
  color: #282828;
}

.container {
  background-color: var(--background-color);
  height: 100vh;
  padding: 20px 20px 0 20px;
  position: relative;
}

.search {
  outline: none;
  color: var(--search-color);
  border: 1px solid var(--search-border-color);
  background-color: var(--search-background-color);
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
  padding: 10px;
  margin: 5px;
}

.folders {
  display: flex;
  flex-wrap: wrap;
}

.folders > div {
  padding: 10px;
  border: 1px solid var(--folder-border-color);
  background-color: var(--folder-background-color);
  color: var(--folder-color);
  margin: 5px 0 5px 5px;
}

.folders > div:hover {
  border-color: var(--folder-hover-border-color);
  color: var(--folder-hover-color);
  cursor: pointer;
}

.folders .active {
  border-color: var(--folder-active-border-color);
  background-color: var(--folder-active-background-color);
  color: var(--folder-active-color);
}

.folders .active:hover {
  border-color: var(--folder-hover-active-border-color);
  color: var(--folder-hover-active-color);
}

.bookmarks {
  margin-top: 15px;
  margin-left: 5px;
  height: 85vh;
  overflow: hidden;
}

.bookmarks ul li > div, .bookmarks ul li.folder > div {
  display: flex;
  align-items: center;
}

.bookmarks ul li img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.bookmarks ul li.folder a {
  color: var(--bookmark-folder-color);
  cursor: pointer;
}

.bookmarks ul li.folder a:hover {
  background-color: var(--bookmark-hover-background-color);
  color: var(--bookmark-hover-folder-color);
}

.bookmarks ul li a {
  padding: 3px;
  text-decoration: none;
  color: var(--bookmark-color);
  user-select: none;
}

.bookmarks ul li a.go-up {
  width: 200px;
  height: 16px;
  display: block;
}

.bookmarks ul li a:hover {
  cursor: pointer;
  background-color: var(--bookmark-hover-background-color);
  color: var(--bookmark-hover-color);
}

.tools {
  position: absolute;
  bottom: 36px;
}

.settings {
  padding: 5px;
  border: 1px solid var(--settings-border-color);
  background-color: var(--settings-background-color);
  color: var(--settings-color);
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 70px;
}

.font-settings, .toggle-theme {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

button.search-btn, button.settings-btn {
  background-color: var(--buttons-background-color);
  color: var(--buttons-color);
  outline: none;
  border: 1px solid var(--buttons-border-color);
  padding: 5px;
  margin-right: 5px;
  cursor: pointer;
}

button.search-btn:hover, button.settings-btn:hover {
  background-color: var(--buttons-hover-background-color);
  color: var(--buttons-hover-color);
}

button.active {
  background-color: var(--buttons-active-background-color);
  color: var(--buttons-active-color);
}

button.active:hover {
  background-color: var(--buttons-hover-active-background-color);
  color: var(--buttons-hover-active-color);
}

.toggle-theme select, .font-settings select {
  padding: 2px;
  margin-right: 2px;
  border-radius: 0;
  outline: none;
}
